{% extends 'base1.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Address</title>
</head>
<body>
{%block baseblock %}
<section class="" style="background-color: #00DDB8;"><br>
    <div class="container mt-4">
        <a href="/user/profile_info/" class="btn btn-primary">Back to Profile Page</a>
    </div>

    <div class="col-lg-5 mx-auto">
        {% for msg in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Hay ! {{msg}} </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}

        <div class="card my-10 p-6">

            <div class="card-body">
                <div class="container mt-4">

                    <div class="row">

                        <div class="col-sm-11 mx-auto">
                            <h2 class="text-center alert alert-info">Update Address</h2>
                            <!--                            <form method="post" class="form-label">-->
                            <!--            <h2 class="text-center alert alert-info"></h2>-->
                            <form method="post" class="form-group">
                                <div>
                                    {{form.as_p }}
                                    {% csrf_token %}
                                    <!--                    Name: <select name="user" class="form-control"> <option value="{{form.user.id}}" class="form-control">{{form.user}}</option></select><br>-->
                                    Name: <input type="text" name="user" class="form-control" value="{{form.user}}"><br>
                                    Street : <input type="text" name="street" value="{{form.street}}"
                                                    class="form-control"><br>
                                    City : <input type="text" name="city" value="{{form.city}}"
                                                  class="form-control"><br>
                                    State: <input type="text" name="state" value="{{form.state}}"
                                                  class="form-control"><br>
                                    Zip Code : <input type="text" name="zip_code" value="{{form.zip_code}}"
                                                      class="form-control"><br>
                                    Mobile Number : <input type="text" name="number" value="{{form.number}}"
                                                           class="form-control"><br>


                                    <input type="submit" class="btn btn-primary" value="Update">
                                    <input type="reset" class="btn btn-primary" value="Reset">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endblock %}
</body>
</html>